<p id="notice"><%= notice %></p>

<p>
  <strong>Check in:</strong>
  <%= @schedule.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @schedule.check_out %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
